<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OWNER TRANSPORT SLIP SERVICE</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="/Transport-Truck.ico" type="image/x-icon" />

</head>

<body>
  <nav>
    <ul id="navigation">
      <li class="nav_items"><a href=<%= OTSMEMOURL %>>OTS MEMO</a></li>
      <li class="nav_items"><a href=<%= OTSSLIPURL %>>OTS SLIP</a></li>
      <li class="nav_items"><a href=<%= VIJAYANDRAMEMOURL %>>VARL MEMO</a></li>
      <li class="nav_items"><a href=<%= VIJAYANDRASLIPURL%>>VARL SLIP</a></li>
    </ul>
  </nav>

  <form id="main" method="post" action=<%= OTSSLIPURL %>>
    <h2 id="heading">OWNER TRANSPORT LOADING SLIP GENERATOR</h2>

    <%- include('common_slip') %>
  </form>
</body>

</html>