<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    *,
    *::after,
    *::before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      width: 210mm;
      height: 190mm;
    }

    body {
      border: 2px solid black;
      height: 100%;
      width: 100%;
      font-family: 'Roboto', sans-serif;
    }

    .header {
      display: flex;
      border: 1px solid black;
      text-align: center;
      justify-content: space-between;
      align-items: stretch;
    }

    #mapLogo {
      width: 120px;
    }

    .content {
      font-weight: bold;
    }

    #ots_heading {
      font-size: x-large;
      color: red;
      text-decoration: underline;
    }

    #heading-2 {
      font-size: small;
      color: red;
    }

    .extra_content {
      font-size: small;
      color: green;
    }

    #logoImg {
      width: 120px;
    }

    .contactInfo {
      text-align: center;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      width: 20%;
      justify-content: space-evenly;
      color: green;
      font-size: medium;
    }

    #mob_no {
      text-align: left;
    }

    .inputBoxes {
      display: flex;
      flex-wrap: wrap;
    }

    .box,
    .box-long {
      padding: 10px;
      border: 1px solid black;
      word-break: break-all;
      white-space: wrap;
      overflow: hidden;
    }

    .box {
      width: 50%;
    }

    .box-long {
      width: 100%;
    }

    .font {
      font-size: medium;
      color: green;
      font-weight: bold;
      word-break: keep-all;
    }

    .input_value {
      color: black;
      font-weight: bold;
      word-break: keep-all;
      white-space: wrap;
    }

    #sign {
      width: 150px;
      margin-right: 2%;
    }

    .img-align {
      height: 49px;
      text-align: right;
      border: none;
    }

    .wanna_flex {
      display: flex;
    }

    .notice {
      width: 10%;
    }

    .text {
      width: 90%;
      text-wrap: balance;
      word-break: keep-all;
    }

    .end-content {
      border: none;
      text-align: right;
    }
  </style>
</head>

<body>
  <div class="header">
    <div class="mapImage">
      <img id="mapLogo" src=<%=Company_logo %> alt="Failed to load the logo" />
    </div>
    <div class="content">
      <span class="font" id="ots_heading">
        <%= Custom_heading %>
      </span> <br />
      <span class="font" id="heading-2">FLEET OWNERS & TRANSPORT CONTRACTOR</span><br />
      <span class="extra_content">105, KHAN ESTATE, OPP. BRTS BUS DEPO, NEAR TRUPTI GUEST HOUSE,</span>
      <br />
      <span class="extra_content">NAROL ROAD, AHMEDABAD-382405. (GUJARAT)</span>
    </div>
    <div class="logo">
      <img id="logoImg" src=<%=Custom_logo%> alt="Fialed to load the logo" />
    </div>
    <div class="contactInfo">
      <p id="mob_no">Mobile no.</p>
      <p>93763 24312</p>
      <p>98250 24964</p>
      <p>63555 44364</p>
      <p>94092 77976</p>
    </div>
  </div>

  <div class="inputBoxes">
    <div class="box">
      <span class="font">Date: </span>
      <span class="input_value">
        <%= Date %>
      </span>
    </div>
    <div class="box">
      <span class="font">Dear Sir: </span>
      <span class="input_value">
        <%= Sir_name %>
      </span>
    </div>
    <div class="box-long">
      <span class="font">To:</span>
      <span class="input_value">
        <%=Party_name%>
      </span>
    </div>
    <div class="box-long">
      <span class="font">Please Arrange to Load <span class="input_value">
          <%= Load %>
        </span> <br>
        on Truck No. <span class="input_value">
          <%= Truck_number %>
        </span> <br>
        From <span class="input_value">
          <%= Pickup_location %>
        </span> <br>
        To <span class="input_value">
          <%= Drop_location %>
        </span> <br> with
        Rate Fixed Rs. <span class="input_value">
          <%= Fixed_rate %>
        </span> <br> and
        Advance Rs. <span class="input_value">
          <%= Advance_wage %>
        </span> <br>
        Also Handover Balance <span class="input_value">
          <%= Payment_location %>
        </span> <br>
        and The Respective Documents to the Driver.
        <br><br><br>
        THANKING YOU
      </span>

    </div>
    <div class="box-long">
      <span class="font">Remark:</span>
      <span class="input_value">
        <%=Remarks%>
      </span>
    </div>
    <div class="box-long">
      <span class="font">Unloading point:</span>
      <span class="input_value">
        <%=Unloading_point%>
      </span>
    </div>
    <div class="box-long wanna_flex">
      <span class="font notice">NOTICE-</span>
      <span class="font text"> Our Valued customer/transporter are hereby informed to take the following care
        before loading to the truck sent by us in Connection of your telephonic talks with the undersigned only
        on Fakat Dalali. Kindly check all necessary documents pertaining to the Truck No. Engine No. all
        necessary Documents
        Driver's Licence if you find and doubt you are requested to return the Truck. We are not responsible for
        leakage, breakage accident and for defective at checkpost due to worn/improper documents.
      </span>
    </div>

    <div class="box-long img-align">
      <img id="sign" src=<%=Custom_signature %> alt="Failed to load the signature">
    </div>

    <div class="end-content box-long">
      <span class="font"> For, <%= Custom_heading %></span>
    </div>
  </div>
</body>

</html>